<div class="page-header">
    <h2 class="page-title">COMPRAS</h2>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between pl-3 pr-3">
                    <h6>Compras Registradas</h6>
                    <button type="button" class="btn btn-gradient-success btn-rounded btn-icon" (click)="openMediumModal(mediumModalContent)" title="Crear nueva compra">
                        <i class="mdi mdi-plus"></i>
                    </button>
                    <!-- Inicio Modal -->
                    <ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel-2">
                                    Registrar nueva compra
                                </h5>
                                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="forms-sample pl-3 pr-3">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Producto</label>
                                        <select id="exampleInputUsername1" class="form-control">
                                            <option value="">Producto1</option>
                                            <option value="">Producto2</option>
                                            <option value="">Producto3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Proveedor</label>
                                        <select id="exampleInputEmail1" class="form-control">
                                            <option value="">Proveedor1</option>
                                            <option value="">Proveedor2</option>
                                            <option value="">Proveedor3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Sucursal</label>
                                        <select id="exampleInputPassword1" class="form-control">
                                            <option value="">Sucursal1</option>
                                            <option value="">Sucursal2</option>
                                            <option value="">Sucursal3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputConfirmPassword1">Cantidad</label>
                                        <input type="number" class="form-control" id="exampleInputConfirmPassword1" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="modal.close()">
                                    Guardar
                                </button>
                                <button type="button" class="btn btn-light" (click)="modal.close()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <!-- Fin Modal -->
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table text-center table-striped">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th>Sucursal</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gaseosas CocaCola</td>
                                <td>CocaCola</td>
                                <td>Sucursal2</td>
                                <td>150</td>
                                <td>
                                    <div ngbDropdown>
                                        <button type="button" class="btn btn-link btn-fw btn-rounded btn-icon" id="dropdownMenuIconButton1" ngbDropdownToggle title="Acciones">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                                            <a class="dropdown-item">Editar</a>
                                            <a class="dropdown-item">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gaseosas CocaCola</td>
                                <td>CocaCola</td>
                                <td>Sucursal2</td>
                                <td>150</td>
                                <td>
                                    <div ngbDropdown>
                                        <button type="button" class="btn btn-link btn-fw btn-rounded btn-icon" id="dropdownMenuIconButton1" ngbDropdownToggle title="Acciones">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                                            <a class="dropdown-item">Editar</a>
                                            <a class="dropdown-item">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gaseosas CocaCola</td>
                                <td>CocaCola</td>
                                <td>Sucursal2</td>
                                <td>150</td>
                                <td>
                                    <div ngbDropdown>
                                        <button type="button" class="btn btn-link btn-fw btn-rounded btn-icon" id="dropdownMenuIconButton1" ngbDropdownToggle title="Acciones">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                                            <a class="dropdown-item">Editar</a>
                                            <a class="dropdown-item">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gaseosas CocaCola</td>
                                <td>CocaCola</td>
                                <td>Sucursal2</td>
                                <td>150</td>
                                <td>
                                    <div ngbDropdown>
                                        <button type="button" class="btn btn-link btn-fw btn-rounded btn-icon" id="dropdownMenuIconButton1" ngbDropdownToggle title="Acciones">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                                            <a class="dropdown-item">Editar</a>
                                            <a class="dropdown-item">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gaseosas CocaCola</td>
                                <td>CocaCola</td>
                                <td>Sucursal2</td>
                                <td>150</td>
                                <td>
                                    <div ngbDropdown>
                                        <button type="button" class="btn btn-link btn-fw btn-rounded btn-icon" id="dropdownMenuIconButton1" ngbDropdownToggle title="Acciones">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                                            <a class="dropdown-item">Editar</a>
                                            <a class="dropdown-item">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>